<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="LoginUsername" value="" />
    <add key="LoginPassword" value="" />
  </appSettings>
  <connectionStrings>
    <!-- Template local connection string; replace PAROLA_TA with your real password (see README setup). -->
    <add name="HotelDB"
         connectionString="Server=127.0.0.1;Port=3306;Database=hotel_reservation;Uid=hotel_user;Pwd=PAROLA_TA;SslMode=none;CharSet=utf8mb4;"
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>
